# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**:
* Some of the popular languages that Data Scientists
* Some of the commonly used libraries used by Data Scientists
* Use Markdown
* Python
* R

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. Julia
4. SQL
5. Java
6. Julia
7. Scala
8. C/C++
9. JavaScript
10. Swift

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. Matplotlib
4. Scikit-Learn

| Data Science Tools |
| :- |
| Python |
| Jupyter Notebooks |
| Julia |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Pedro Corte Real